body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica, Tahoma;
}

#clock {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    width: 45vw;
    height: 15vw;
    flex-direction: column;
    background-color: #2a2a2b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3vw;
}

#clock-number {
    width: inherit;
    margin: 0.5vw;

}

#clock-number>div {
    width: auto;
    height: 2.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#clock-number>div>div {
    width: 1vw;
    height: 4vw;
    background-color: #5a5a5a42;
    clip-path: polygon(0.5vw 0vw, 4vw 4vw, 2vw 2vw, 0.5vw 4vw, -1vw 2vw);
}

#clock-number>div>div[data-number="A"],
#clock-number>div>div[data-number="D"],
#clock-number>div>div[data-number="G"] {
    transform: rotate(90deg);
}

#clock-colon {
    width: initial;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#clock-colon>div {
    width: 1vw;
    height: 1vw;
    background-color: #ece473;
    border-radius: 0.2vw;
}

#clock-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    width: 45vw;
    height: 15vw;
    background-color: rgb(231, 231, 231);
    border-radius: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -60%);
}

#clock-top-btn {
    width: 45vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-5%, -80%);
}

#time-unit-btn {
    cursor: pointer;
    color: rgb(255, 243, 221);
    background-color: #cd8787;
    padding: 2vw;
    text-align: center;
    font-size: 1.8vw;
    border-radius: 2vw;
    height: 3em;
    box-shadow: 0.5vw -0.5vw gray;
    transition: .2s;
    user-select: none;
}

#mode-change {
    color: rgb(255, 243, 221);
    background-color: #ebc2c2;
    width: 4vw;
    height: 5vw;
    top: 20%;
    right: 0%;
    border-radius: 2vw 2vw 0 0;
    transition: .2s;
}

#time-unit-btn:hover,
#mode-change:hover {
    transform: translateY(-20%);
}

#time-unit-btn:active,
#mode-change:active {
    transform: translateY(-10%);
}

#background {
    z-index: -1;
}

#APM {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 75%;
    user-select: none;

    span {
        color: #5a5a5a42;
        font-size: 1.2vw;
        font-weight: 600;
    }
}

.day {
    span {
        color: #5a5a5a42;
        font-size: 1vw;
        font-weight: 600;
        margin: 1vw;
    }
}

.time {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}